@import 'tailwindcss';

.my-logo {
  background-image: url('../assets/logo.svg');
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--color-teal-500: #14b8a6;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 0, 0, 0;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: #f6f7f8;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
